/*************************************************/
/*
/* WORDPRESS LINK REPLACER
/*
/* Autor: Luigi Matheus Afornalli Breda
/*
/*************************************************/
html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
}

.panel {
	height: 100%;
	width: 100%;
	margin: 0;
	background-image: url('../img/background.jpg');
}

.painel {
	padding: 2% 5% 30%; 
	background-color: rgb(35, 35, 35);
}

.container {
	background-color: rgb(255, 255, 255); 
	width: 100% ! important; 
	padding: 1%; 
	border-radius: 8px; 
	box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.75);
}



/* NAVEGAÇÃO */
.nav-tabs.nav-justified {
    background-color: #F76E1E;
	border-radius: 10px;
	padding: 2px;
}
.nav-tabs > li > a {
    border: none !important;
}
a:hover {
    background-color: #F76E1E !important;
    border: none !important;
    height: 100% !important;
    color: #333;
	border-radius: 16px;
}
a:active {
    background-color: #F76E1E !important;
    border: none !important;
    height: 100% !important;
    color: #333;
	border-radius: 16px;
}
a:focus {
    background-color: #F76E1E !important;
    border: none !important;
    height: 100% !important;
    color: #333;
	border-radius: 16px;
}
a {
    background-color: #F76E1E !important;
    border: none !important;
    height: 100% !important;
    color: #333;
	border-radius: 16px;
}
.nav-tabs.nav-justified > li > a {
    color: white;
    font-weight: 800 !important;
    text-transform: uppercase;
    font-family: lato !important;
}

/* TEXTOS */
.h1, h1 {
    font-size: 36px;
    font-family: lato;
    font-weight: 800;
    margin-bottom: 0 !important;
}
p {
    margin: 0px 0px 10px;
    text-transform: uppercase !important;
    color: #696161;
}